<div class="container">

    <div class="row">

        <div class="col-md-offset-2 col-md-8 col-sm-12 col-sm-offset-0">

            <form novalidate name="articleForm" my-form-with-should-show-error>

                <my-fieldset>

                    <label class="control-label" for="articleTitle">Article title</label>

                    <div ng-if="articleForm.articleTitle.shouldShowError" ng-messages="articleForm.articleTitle.$error">
                        <label class="control-label" ng-message="required">The article title must not be empty</label>
                        <label class="control-label" ng-message="maxlength">The article title must be shorter than 50
                            characters</label>
                        <label class="control-label" ng-message="minlength">The article title must be longer than 5
                            characters</label>
                    </div>

                    <input type="text" class="form-control" id="articleTitle" name="articleTitle"
                           placeholder="Title of my article"
                           ng-model="publishCtrl.article.title" required ng-maxlength="50" ng-minlength="5">

                    <small class="text-muted">The title of the article will be used to generate the link</small>
                </my-fieldset>

                <my-fieldset>

                    <label class="control-label" for="articlePreview">Article preview</label>

                    <p class="text-muted">
                        This description will be The article preview, this is the first sentence of the article that
                        is
                        visible in the article list page.
                    </p>

                    <div ng-if="articleForm.articlePreview.shouldShowError"
                         ng-messages="articleForm.articlePreview.$error">
                        <label class="control-label" ng-message="required">The article introduction must not be
                            empty</label>
                        <label class="control-label" ng-message="maxlength">The article introduction must be shorter
                            than
                            100
                            characters</label>
                        <label class="control-label" ng-message="minlength">The article introduction must be longer than
                            15 characters</label>
                    </div>

                    <textarea ng-model="publishCtrl.article.preview" class="form-control" id="articlePreview"
                              rows="3" required ng-maxlength="100" ng-minlength="15" name="articlePreview"></textarea>
                </my-fieldset>

                <my-fieldset>

                    <label for="articleContent">Article content</label>
                    <p class="text-muted">
                        The article must be written in html, if problem : see the example here : TODO
                    </p>

                    <div ng-if="articleForm.articleContent.shouldShowError"
                         ng-messages="articleForm.articleContent.$error">
                        <label class="control-label" ng-message="required">The article content must not be
                            empty</label>
                    </div>

                    <textarea ng-model="publishCtrl.article.content" class="form-control" id="articleContent"
                              rows="30" required name="articleContent"></textarea>
                </my-fieldset>

                <div ng-if="articleForm.shouldShowError" class="alert alert-danger" role="alert">
                    <strong>Oh snap!</strong> Some inputs are incorrect, please check them.
                </div>

                <my-button text="Submit" event="publishCtrl.publish(articleForm)"></my-button>

                <hr>
                <h2>
                    Your article will look like this
                </h2>
                <my-article-preview model="publishCtrl.article" nolink="true"></my-article-preview>

                <div class="blog-post" ng-bind-html="publishCtrl.article.content"></div>

            </form>
        </div>

    </div>
</div>