<div class="modal-header">
    <h3 class="modal-title">A new article</h3>
</div>
<div class="modal-body">
    <p>The following article is going to be published.</p>
    <my-article-preview model="publishModalCtrl.article" nolink="true"></my-article-preview>

    <div class="blog-post" ng-bind-html="publishModalCtrl.article.content"></div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="publishModalCtrl.validate()">OK</button>

    <button class="btn btn-warning" type="button" ng-click="publishModalCtrl.dismiss()">Cancel</button>
</div>