<h2>
    <!--TODO /blog/article/ how to remove duplication ?-->
    <a href="/app#/blog/article/{{article.link}}" my-link-disabled="{{nolink}}">{{article.title}}</a>
</h2>

<p>
    {{article.createDate | date}} by
    <a href=\"#\">{{article.author}}</a>
</p>

<a href="/app#/blog/article/{{article.link}}">
    <img class="img-responsive center-block" ng-show="article.hasOwnProperty('picture')" ng-src="{{article.picture}}"
         alt="Description"/>
</a>

<div ng-bind-html="article.preview"></div>
