<div class="container">

    <div class="row">

        <div class="col-sm-8">

            <div id="articles-list" class="blog-articles" ng-repeat="article in articlesCtrl.articles">
                <my-article-preview model="article"></my-article-preview>
            </div>

            <div id="pagination">

                <uib-pagination total-items="articlesCtrl.totalItems" ng-model="articlesCtrl.currentPage"
                                items-per-page="articlesCtrl.itemPerPage" ng-change="articlesCtrl.pageChanged()"
                                class="pagination-sm" boundary-link-numbers="true" rotate="false"
                                num-pages="numPages"></uib-pagination>
            </div>

        </div>

        <my-blog-sidebar/>

    </div>
</div>