<h1 id="contact-header" class="text-center">Hey everyone!</h1>

<div class="row">
    <div class="col-md-offset-2 col-md-8 col-sm-12 col-sm-offset-0">
        <h4>Introducing Official Bootstrap themes from&nbsp;the founders of Bootstrap.</h4>
        <p>In the last four years we’ve spent thousands of hours designing and developing
            Bootstrap and other open source projects for millions of people and sites across the web. In that time we’ve
            also helped to build some amazing products like Twitter, GitHub, Medium, and more. Now, we’re hoping to do
            it with our own business by creating and selling high quality Bootstrap themes.</p>
        <p>To start, we’re launching with three themes, one for each of the most popular
            types of Bootstrapped sites — dashboards, applications, and marketing sites. Each theme includes:</p>
        <ul>
            <li>Beautiful example pages</li>
            <li>Custom documentation</li>
            <li>Several brand new, custom components</li>
            <li>Source Less and JavaScript files</li>
            <li>Easy build tools with Gulp</li>
        </ul>
        <p>We’ve designed our themes as toolkits, just like Bootstrap, to provide you with a
            highly functional, visually consistent, and beautiful set of components.</p>
        <p>While Bootstrap is free for everyone, these themes are only available for
            purchase. We decided to sell them for a few reasons:</p>
        <ul>
            <li>We think they’re worth it. Each of us has years of experience building for
                the web — from products to frameworks — and we’ve poured all of that into these themes.
            </li>
            <li>We keep Bootstrap funded and available for everyone. To date, we have never
                taken money from investors and have no corporate sponsorships. All our expenses are paid for by us
                through ad revenue on our docs.
            </li>
            <li>We can give more back to the Bootstrap and open source communities with
                event sponsorships, swag, and more open source projects.
            </li>
        </ul>
        <p>Bootstrap’s entire mission is to help awesome people do awesome stuff. It’s been
            our goal since day one and we’re excited to take that to another level with Bootstrap Themes.</p>
        <p>❤,<br><a href="https://github.com/mdo" data-href="https://github.com/mdo">@mdo</a>, <a
                href="https://github.com/fat" data-href="https://github.com/fat">@fat</a>, and <a
                href="https://github.com/dhg"
                data-href="https://github.com/dhg"
        >@dhg</a>
        </p>
        <p>&nbsp;</p>
    </div>
</div>
