<div class="container">

    <div class="row">

        <div class="col-sm-8">

            <my-article-preview model="articleCtrl.article"></my-article-preview>

            <div class="blog-post" ng-bind-html="articleCtrl.article.content"></div>

        </div>

        <my-blog-sidebar/>

    </div>
</div>