<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="madaramApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="madaramApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="madaramApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="madaramApp" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Madaram</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <!--<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>-->
    <!--end bootstrap-->

    <!-- css -->
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
    <!-- javascript -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular-ui-bootstrap-bower/ui-bootstrap-tpls.min.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>

    <script src="common/interceptors/interceptors.js"></script>
    <script src="common/interceptors/errorInterceptors.js"></script>

    <script src="common/directives/commonDirectives.js"></script>
    <script src="common/directives/formWithShouldShowError.js"></script>
    <script src="common/directives/unused/showErrors.js"></script>
    <script src="common/directives/button.js"></script>
    <script src="common/directives/fieldset.js"></script>
    <script src="common/directives/myLinkDisabled.js"></script>

    <script src="blog/blog.js"></script>
    <script src="blog/blogDirective.js"></script>
    <script src="blog/preview/articlePreview.js"></script>
    <script src="blog/Article.js"></script>
    <script src="blog/article/ArticleCtrl.js"></script>
    <script src="blog/articles/ArticlesCtrl.js"></script>
    <script src="blog/publish/PublishCtrl.js"></script>
    <script src="app.js"></script>
    <script src="MainNavBarCtrl.js"></script>
    <script src="error/ErrorCtrl.js"></script>


</head>
<body>

<a id="top"></a>

<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<nav ng-controller="MainNavBarCtrl as navCtrl" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Madaram website TODO</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li ng-repeat="section in navCtrl.sections" ng-class="{active : navCtrl.isSelected(section)}">
                    <a href="#{{section.link}}">{{section.name}}</a>
                </li>
                <!-- <li class="active"><a href="#" ng-click="navCtrl.activate()">Home</a></li>
                <li><a href="#/tictactoes">Games</a></li>
                <li><a id="contact" href="#/contact">Contact</a></li> -->
            </ul>
        </div>
    </div>
</nav>

<div class="container">

    <div class="jumbotron">
        <h1>Hello, world!</h1>

        <p>This is an example to show the potential of an offcanvas layout pattern in Bootstrap. Try some
            responsive-range viewport sizes to see it in action.</p>
    </div>

</div>


<div ng-view></div>

</body>
</html>
