<div class="row">
    <div class="col-md-offset-2 col-md-8 col-sm-12 col-sm-offset-0">
        <div class="hero-unit center">
            <h1>Page Not Found
                <small style="color:red;font: Tahoma">Error {{errorCtrl.error}}</small>
            </h1>
            <br>
            <p>An error occured while building requested paged, either contact your webmaster or try again. Use your
                browsers
                <b>Back</b> button to navigate to the page you have prevously come from</p>
        </div>

    </div>
</div>
